*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

nav{
    background-color: #ffffff;
}

.flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 200px;
    width: 200px;
    padding:20px 20px;
}

.menu > li{
    font-size: 16px;
}

.filter{
    filter:blur(4px);
}

.bgPrimary{
    background-color: #b6ded4;
}

.colorDark{
    color: black;
}

.box{
    margin: 3em 3em;
}

h1{
    display: none;
}

.ir-arriba{
    display:none;
	padding:20px;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

a img {
    height: 210px;
}

.flecha{
    height: 30px;
}

@media (max-width: 970px){
    #derechos{
        display: none;
    }
}

@media (max-width: 1176px){
    .logo-opacidad{
        opacity: 0.2;
    }
}