* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: #ffffff;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 210px;
    width: 200px;
    padding: 20px 20px;
}

.logo-footer {
    height: 150px;
    width: 150px;
}

.menu>li {
    font-size: 16px;
    margin: 1.5px;
}

.filter {
    filter: blur(4px);
}

.bgPrimary {
    background-color: #b6ded4;
}

.bgSecondary {
    background-color: #406167;
}

.bgSecondary *:not(a) {
    color: #f5f5f5;
}

.colorDark {
    color: black;
}

.box {
    margin: 3em 3em;
}

h1 {
    display: none;
}

.ir-arriba {
    display: none;
    padding: 20px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

a img {
    height: 230px;
    padding: 5% 5% 5% 5%;
}

.flecha {
    height: 30px;
}

#footer-hover:hover{
    color: black;
}

.footer .div__listas .footer__navigation .vpe .ancla:hover{
    color: rgb(101, 101, 101);
}

@media (min-width: 300px) and (max-width:382px) {
    .logo-nav {
        display: none;
    }
}

@media (max-width: 450px) {
    .logo-nav {
        height: 150px;
        width: 150px;
    }
    .nav-bar{
        line-height: 0;
    }
}

@media (min-width: 768px) and (max-width:990px) {
    .logo-nav {
        height: 150px;
        width: 150px;
    }
    .nav-bar{
        line-height: 0;
    }
}

@media (min-width: 991px) and (max-width:1226px) {
    .nav-bar{
        line-height: 62px;
    }
}